.container {
  max-width: 1200px;
  display: flex;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .searchFilter {
    max-width: 400px;
    margin: 0 auto;
  }
}

.spinner {
}
.list {
  max-width: 600px;
  min-width: 300px;
}
.searchForm {
  width: 100%;
}
